<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOCAL_LOG_PATTERN"
              value="[%green(%d{yyyy-MM-dd HH:mm:ss.SSS})] [%thread] %highlight(%-5level) %magenta([requestId=%X{requestId}]) %cyan(%logger{36}.%M) - %msg%n"/>


        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOCAL_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="kr.lfind" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>


</configuration>
